project:
  type: book
  output-dir: docs

book:
  title: "Learning Diary"
  author: "Ruijue Song"
  date: "1/20/2026"
  chapters:
    - index.qmd
    - week1.qmd
    - week2.qmd
    - week3.qmd
    - week4&5.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

editor: visual

